mkdocs>=1.2.1
mkdocs-material>=7.3.1
mkdocs-git-revision-date-localized-plugin==0.9.2
mike==1.0.1
pymdown-extensions
mkdocs-macros-plugin @ git+https://github.com/fralau/mkdocs_macros_plugin@v0.5.12#egg=mkdocs-macros-plugin
mkdocstrings
Jinja2>=2.11.1